*.class

# Package Files #
*.jar
*.war
*.ear

# Intellij Idea
.idea
.idea_modules
*.iml

# Netbeans
nbproject
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Maven
target

#Eclipse
.settings
.classpath
.project
